.homeBoxStyle {
  background-color: rgb(116, 137, 153);
  padding: 31px;
  width: max-content;
  float: left;
}

.mainControlsStyle {
  background-color: rgb(226, 233, 238);
  padding-top: 17px;
  padding-bottom: 18px;
  display: flex;
}

.measurementDiv {
  width: 200px;
  padding-left: 20px;
}

.itemsDiv {
  width: 300px;
  padding-left: 10px;
  padding-right: 20px;
}

.marginMinus10 {
  margin: -10px;
}

.mainContent {
  display: flex;
  padding: 10px;
}

.monthsDiv {
  padding-top: 32px;
  width: 6%;
}

.forcastDataDiv {
  border: 2px solid #748999;
  padding-top: 10px;
  width: 25%;
  margin-right: 0.25rem;
}

.forcastDataTitle {
  margin-left: 7.5rem;
  font-weight: 600;
  color: #0c1720;
}

.h3Title {
  color: #3e5667;
}
.h1Title {
  color: #3e5667;
}
.h6Title {
  color: #3e5667;
  margin-top: 2rem;
}

.pageInfo {
  margin: 1rem;
}

.monthsData {
  font-weight: 600;
  color: #3e5667;
}
.foodDataWarning {
  font-weight: 600;
  color: #e8c242;
}
.foodDataSafe {
  font-weight: 600;
  color: #60b255;
}
.foodDataDanger {
  font-weight: 600;
  color: #d53229;
}
.foodDataWanted {
  font-weight: 600;
  color: #3b3985;
}
